{extend name="v1/public/base" /}
{block name="body"}
<div class="container">
    <div class="row w_main_row">
        <div class="col-lg-9 col-md-9 w_main_left">
            <!--滚动图开始-->
            <div class="panel panel-default">
                <div id="w_carousel" class="carousel slide w_carousel" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {foreach name="banner" item="vo"}
                            {eq name="$vo.id" value="1"}
                            <li data-target="#w_carousel" data-slide-to="{$vo.id}" class="active"></li>
                            {else/}
                            <li data-target="#w_carousel" data-slide-to="{$vo.id}"></li>
                            {/eq}
                        {/foreach}	
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {foreach name="banner" item="vo"}
                            {eq name="$vo.id" value="1"}
                            <div class="item active">
                                <img src="{$vo['images']['base64_img']}" alt="..." >
                                <div class="carousel-caption">
                                    <h4 style="color: rgba(153,255,82,0.97)">{$vo.watermark}</h4>
                                </div>
                            </div>
                            {else/}
                            <div class="item">
                                <img src="{$vo['images']['base64_img']}" alt="..." >
                                <div class="carousel-caption">
                                    <h4>{$vo.watermark}</h4>
                                </div>
                            </div>
                            {/eq}
                        {/foreach}
                    </div>
                    <!-- Controls 按钮控制翻页-->
                    <a class="left carousel-control" href="#w_carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#w_carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="panel panel-default contenttop">
                {foreach name="article" item="vo"}
                    {eq name="$vo.is_top" value="1"}
                        <a href="articledetail">
                            <strong>博主置顶</strong>
                            <h3 class="title">{$vo.title}</h3>
                            <p class="overView">{$vo.content}</p>
                        </a>
                    {/eq}
                {/foreach}
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">最新发布</h3>
                </div>

                <div class="panel-body">

                    <!--文章列表开始-->
                    <div class="contentList">

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <h4><a class="title" href="articledetail">愿你归来仍然是少年</a></h4>
                                <p>
                                    <a class="label label-default">成长</a>
                                    <a class="label label-default">挑战</a>
                                </p>
                                <p class="overView">亲爱的自己：</p>
                                <p class="overView">我不知道为什么写信给你，更不知道你何时能收到这封信，在这里有些愿望寄托于你。</p>
                                <p class="overView">首先愿你平安无事地度过青春期，但别平安无事地度过青春。你不是他们口中的乖乖女，这点我比谁都清楚，你有时的果断、激动甚至有点“草莽精神”的意思，着实让我吓了一跳。</p>
                                <a title="【愿你归来仍然是少年】" href="articledetail" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                                <p>
                                    <span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span>
                                    <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:66666</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:18</span><span class="count"><i class="glyphicon glyphicon-time"></i>2018-05-14</span>
                                </p>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="contentleft">
                                    <h4><a class="title" href="articledetail">流浪的人，不许掉眼泪</a></h4>
                                    <p>
                                        <a class="label label-default">远方</a>
                                        <a class="label label-default">流浪</a>
                                    </p>
                                    <p class="overView">生命里，一些缱绻，无论素净，还是喧哗，都已经被岁月赋予了清喜的味道，一些闲词，或清新，或淡雅，总会在某一个回眸的时刻醉了流年，濡湿了柔软的心，冥冥之中，我们沿着呼唤的风声，终于在堆满落花的秋里，再次重逢，念在天涯，心在咫尺，我相信，一米阳光，才是我们最好的距离。</p>
                                    <p class="overView">缘起是诗，缘离是画，这些关于岁月，关于记忆的章节，终会被时光搁置在无法触及的红尘之外，曾经，你我一别经年，可风里，总有一段美丽会与我们不期而遇，一盏琉璃，半杯心悦，端然着那一份醉人的静，这安静行走的流年，总会被过往赋予一份清喜，一份浪漫。</p>
                                    <p><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:1003</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:55</span><span class="count"><i class="glyphicon glyphicon-time"></i>2018-05-15</span></p>
                                    <a title="【流浪的人，不许掉眼泪】" href="articledetail" target="_blank" class="readmore1">阅读全文&gt;&gt;</a>
                                </div>
                                <div class="contentImage">
                                    <div class="row">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="../public/static/img/slider/yuanfang.jpg" alt="...">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <h4><a class="title">分享《三毛语录》</a></h4>
                                <p>
                                    <a class="label label-default">优美</a>
                                    <a class="label label-default">意境</a>
                                </p>
                                <p class="overView">如果有来生，要做一棵树，站成永恒，没有悲欢的姿势。一半在土里安详，一半在风里飞扬，一半洒落阴凉，一半沐浴阳光，非常沉默非常骄傲，从不依靠从不寻找。</p>
                                <p class=overView>如果有来生，要做一棵树，站成永恒，没有悲欢的姿势。一半在土里安详，一半在风里飞扬，一半洒落阴凉，一半沐浴阳光，非常沉默非常骄傲，从不依靠从不寻找</p>
                                <p><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:666</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:18</span><span class="count"><i class="glyphicon glyphicon-time"></i>2016-12-25</span></p>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="contentleft">
                                    <h4><a class="title">人生之老生常谈</a></h4>
                                    <p>
                                        <a class="label label-default">追忆</a>
                                        <a class="label label-default">流年</a>
                                    </p>
                                    <p class="overView">流年似水，岁月蹉跎，不知不觉的便遗忘了许多。曾经那些熟悉的容颜，似乎也都在岁月的风声里越去越远了，只余下一些记忆的痕迹，散落成一地的斑驳，再也找不回昨日的似锦繁华。看惯了花开花落，潮涨潮汐，也就不会再留恋什么。要走的，走了，来了，又走了；不想走的，也走了。行走在红尘，回首已是淡定；笑立在风中，看尽风景。伸出手，想握住眼前的一切，殊不知，手握得越紧，得到的却是满手空；放开手掌，眼前的一切却是那么真实。</p>
                                    <p><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:456</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:58</span><span class="count"><i class="glyphicon glyphicon-time"></i>2017-10-01</span></p>
                                </div>
                                <div class="contentImage">
                                    <div class="row">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="../public/static/img/slider/shiguang.jpg" alt="...">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="contentleft">
                                    <h4><a class="title" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070713/202.html">君生我未生，我生君已老。</a></h4>
                                    <p>
                                        <a class="label label-default">爱恋</a>
                                        <a class="label label-default">流年</a>
                                        <a class="label label-default">爱别离</a>
                                    </p>
                                    <p class="overView">君生我未生，我生君已老。恨不生同时，日日与君好。 哲野也很喜欢夭夭，在叶兰离去的二十年间，夭夭早已代替了叶兰的位置。一个人早已老去，而另一个人还尚年轻。夭夭只能望着哲野死去。但我觉得夭夭不遗憾，她爱的这个人陪了她二十年时光，而哲野的爱永远埋藏在夭夭的心里.远了，只余下一些记忆的痕迹，散落成。</p>
                                    <p><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:8888</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:666</span><span class="count"><i class="glyphicon glyphicon-time"></i>2018-05-01</span></p>
                                </div>
                                <div class="contentImage">
                                    <div class="row">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="../public/static/img/slider/heart.jpg" alt="...">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--文章列表结束-->
                </div>
            </div>
        </div>

        <!--右侧开始-->
        <div class="col-lg-3 col-md-3 w_main_right">

            <div class="panel panel-default sitetip">
                <a href="#">
                    <strong>站点公告</strong>
                    <h3 class="title">遇见博客</h3>
                    <p class="overView">
                        生活不止眼前的苟且还有诗和远方，所以去追求你要的诗和远方吧，在这里你可以畅所欲言，记录分享你美好的时光。欢迎来到遇见博客！来遇见另一个自己！一个人至少拥有一个梦想，有一个理由去坚强。心若没有栖息的地方，到哪里都是在流浪
                    </p>
                </a>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">热搜美文</h3>
                </div>
                <div class="panel-body">
                    <div class="labelList">
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/xiaoyuanwenzhang/aiqing/20070811/666.html">青春</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070813/703.html">流年似水</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070824/812.html">诗和远方</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/lizhiwenzhang/20140607/293554.html">梦想与激情</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/lizhiwenzhang/20070928/1039.html">努力</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070811/683.html">爱</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070827/833.html">花开花落</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/lizhiwenzhang/gushi/20070907/972.html">流浪</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070811/683.html">父爱</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070713/202.html">君生我未生 </a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070713/202.html">我生君已老</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/renshengzheli/shengming/20070925/1032.html">最好的年龄</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20070928/1034.html">知足常乐</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/renshengzheli/shengming/20070830/875.html">最美时光</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20070726/389.html">宽容</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/xiaoyuanwenzhang/aiqing/20070811/666.html">回忆</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070813/703.html">流年似水</a>
                        <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070824/812.html">诗和远方</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">最新发布</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled sidebar">
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20180416/387617.html">在风雨兼程的人生路上，每个人都在叩击幸福之门，都在寻找那份属于自己的幸福。</a>
                        </li>
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070713/202.html">君生我未生，我生君已老。恨不生同时，日日与君好</a>
                        </li>
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070824/812.html">我静静的站在角落里，看着这个世界，看着来来往往的人群。
                                每个人都步履匆匆的从我的身边走过，渐行渐远。
                                似乎所有的人都处于已经离开我，或者将要离开，以及正在离开……</a>
                        </li>
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/renshengzheli/20070822/794.html">　跟随自己，为自己奔跑，抵制物欲的袭击，使心不为形役。即使自己不能成为圣人，只要心中有了圣人的目标，在别人眼里，你也将成为一位圣者。</a>
                        </li>
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20070805/582.html">喜欢自己一个人的时候听着淡淡的歌或者眯着眼睛想一些往事，总感觉那是很惬意的事情。我才发现，这回忆就像是毒药，而我中毒很深。</a>
                        </li>
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20070726/389.html">有句老话：有容乃大。恰如大海，正因为它极谦逊地接纳了所有的江河，才有了天下最壮观的辽阔与豪迈！</a>
                        </li>
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/youqingwenzhang/20180213/385395.html">如果我死了·若是有来生——笔砚先生，如有来生，我一定不会这样选择！</a>
                        </li>
                        <li>
                            <a href="/post/05203355">生活和电影不一样，我为我的爱寻找方向，该靠在你的身旁，还是一个人去流浪......</a>
                        </li>
                        <li>
                            <a href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20070826/827.html">美好的生活应该是时时拥有一颗轻松自在的心，不管外界如何变化，自己都能有一片清静的天地。</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">友情链接</h3>
                </div>
                <div class="panel-body">
                    <div class="newContent">
                        <ul class="list-unstyled sidebar shiplink">
                            <li>
                                <a href="https://www.baidu.com/" target="_blank">百度</a>
                            </li>
                            <li>
                                <a href="http://www.duwenzhang.com/meiwen.html" target="_blank">美文网</a>
                            </li>
                            <li>
                                <a href="http://www.ulewo.com/" target="_blank">有乐网</a>
                            </li>
                            <li>
                                <a href="http://www.sina.com.cn/" target="_blank">新浪网</a>
                            </li>
                            <li>
                                <a href="http://www.qq.com/" target="_blank">腾讯网</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">小窗风景如画</h3>
                </div>
                <div class="panel-body">
                    <img src="../public/static/img/Tower.jpg" style="height: 250.5px;width: 240.5px;" />
                </div>
            </div>

        </div>
    </div>
</div>

<!--toTop-->
<script type="text/javascript">
    var $backToTopEle = $('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">^</a>').appendTo($("body")).click(function () {
        $("html, body").animate({scrollTop: 0}, 120);
    });
    var backToTopFun = function () {
        var st = $(document).scrollTop(),
                winh = $(window).height();
        (st > 0) ? $backToTopEle.show() : $backToTopEle.hide();
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };

    $(function () {
        $(window).on("scroll", backToTopFun);
        backToTopFun();
    });
</script>
{/block}