<!DOCTYPE html>
<html lang="en">

        <!--HEAD-->
        {include file="v1/public/head" /}

    <body>

        <!--HEADER-->
        <div class="w_header">
            {include file="v1/public/header" /}
        </div>

        <!-- COLUMNS -->
        <div class="w_container">
            {block name="body"}
                
            {/block}
        </div>

        <!-- FOOTER -->
        <div class="w_foot">
            {include file="v1/public/footer" /}
        </div>

    </body>
</html>