<!--header 头部-->
    <div class="container">
        <div class="w_header_top">
            <a href="#" class="w_logo"></a>
            <span class="w_header_nav">
					<ul>
						<li><a href="blog" class="active">首页</a></li>
						<li><a href="about">关于</a></li>
						<li><a href="article">文章</a></li>
						<li><a href="#">学习</a></li>
						<li><a href="fun">美景</a></li>
						<li><a href="moodList">说说</a></li>
						<li><a href="comment">留言</a></li>
					</ul>
					</span>
            <div class="login">
                <span><a href="login">Hi,请先登录</a></span>
            </div>
            <div class="w_search">
                <div class="w_searchbox">
                    <input type="text" placeholder="search" />
                    <button>搜索</button>
                </div>
            </div>
        </div>
    </div>
