{load href="/static/css/bootstrap.min.css"}
{load href="/static/css/about.css"}
{load href="/static/blog/jquery.page.css"}
{load href="/static/blog/jquery.page.js"}
{load href="/static/js/jquery-1.10.2.min.js"}
<!--{load href="/static/css/candy-box.css"}-->
{load href="/static/css/article_detail.css"}
{load href="/static/css/article.css"}
{load href="/static/css/moodList.css"}
{load href="/static/blog/bootstrap/css/bootstrap.min.css"}
{load href="/static/css/common.css"}
{load href="/static/blog/jquery.min.js"}
{load href="/static/blog/bootstrap/js/bootstrap.min.js"}
{load href="/static/js/common.js"}