<!--右侧开始-->
<div class="col-lg-3 col-md-3 w_main_right">

    <div class="panel panel-default sitetip">
        <a href="#">
            <strong>站点公告</strong>
            <h3 class="title">{$announcement->title}</h3>
            <p class="overView">{$announcement->content}</p>
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">热搜美文</h3>
        </div>
        <div class="panel-body">
            <div class="labelList">
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/xiaoyuanwenzhang/aiqing/20070811/666.html">青春</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070813/703.html">流年似水</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070824/812.html">诗和远方</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/lizhiwenzhang/20140607/293554.html">梦想与激情</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/lizhiwenzhang/20070928/1039.html">努力</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070811/683.html">爱</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070827/833.html">花开花落</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/lizhiwenzhang/gushi/20070907/972.html">流浪</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070811/683.html">父爱</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070713/202.html">君生我未生 </a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070713/202.html">我生君已老</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/renshengzheli/shengming/20070925/1032.html">最好的年龄</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20070928/1034.html">知足常乐</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/renshengzheli/shengming/20070830/875.html">最美时光</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20070726/389.html">宽容</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/xiaoyuanwenzhang/aiqing/20070811/666.html">回忆</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070813/703.html">流年似水</a>
                <a class="label label-default" href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070824/812.html">诗和远方</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">最新发布</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled sidebar">
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20180416/387617.html">在风雨兼程的人生路上，每个人都在叩击幸福之门，都在寻找那份属于自己的幸福。</a>
                </li>
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/20070713/202.html">君生我未生，我生君已老。恨不生同时，日日与君好</a>
                </li>
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/ganwu/20070824/812.html">我静静的站在角落里，看着这个世界，看着来来往往的人群。
                        每个人都步履匆匆的从我的身边走过，渐行渐远。
                        似乎所有的人都处于已经离开我，或者将要离开，以及正在离开……</a>
                </li>
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/renshengzheli/20070822/794.html">　跟随自己，为自己奔跑，抵制物欲的袭击，使心不为形役。即使自己不能成为圣人，只要心中有了圣人的目标，在别人眼里，你也将成为一位圣者。</a>
                </li>
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20070805/582.html">喜欢自己一个人的时候听着淡淡的歌或者眯着眼睛想一些往事，总感觉那是很惬意的事情。我才发现，这回忆就像是毒药，而我中毒很深。</a>
                </li>
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20070726/389.html">有句老话：有容乃大。恰如大海，正因为它极谦逊地接纳了所有的江河，才有了天下最壮观的辽阔与豪迈！</a>
                </li>
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/youqingwenzhang/20180213/385395.html">如果我死了·若是有来生——笔砚先生，如有来生，我一定不会这样选择！</a>
                </li>
                <li>
                    <a href="/post/05203355">生活和电影不一样，我为我的爱寻找方向，该靠在你的身旁，还是一个人去流浪......</a>
                </li>
                <li>
                    <a href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20070826/827.html">美好的生活应该是时时拥有一颗轻松自在的心，不管外界如何变化，自己都能有一片清静的天地。</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">友情链接</h3>
        </div>
        <div class="panel-body">
            <div class="newContent">
                <ul class="list-unstyled sidebar shiplink">
                    {foreach name="links" item="vo"}
                    <li>
                        <a href="{$vo.link_url}" target="_blank">{$vo.linkname}</a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">小窗风景如画</h3>
        </div>
        <div class="panel-body">
            <img src="{$minImage->base64_img}" style="height: 250.5px;width: 230.5px;" />
        </div>
    </div>

</div>